{# templates/form/my_custom_form.html.twig #}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="px-4 py-3 border-bottom">
                <h5 class="card-title fw-semibold mb-0">{{ form_label(form.email, 'Email') }}</h5>
            </div>
            <div class="card-body p-4">
                <div class="mb-4">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'John Deo'}}) }}
                </div>
                <div class="mb-4">
                    {{ form_label(form.password, 'Password', {'label_attr': {'class': 'form-label fw-semibold'}}) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Your Password'}}) }}
                </div>
                <div class="mb-4">
                    {{ form_label(form.licencie, 'Licencie', {'label_attr': {'class': 'form-label fw-semibold'}}) }}
                    {{ form_widget(form.licencie, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'input-group-text px-6'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
