<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="{{ path('app_licencie_index') }}" class="text-nowrap logo-img">
        <h4>
          <strong>
            Club Sportif
          </strong>
        </h4>
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">
            Accueil
                      
          </span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{{ path('app_home') }}" aria-expanded="false">
            <span>
              <i class="ti ti-home"></i>
            </span>
            <span class="hide-menu">
              Accueil
                          
            </span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">
            Gestion du club
                      
          </span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{{ path('app_categorie_index') }}" aria-expanded="false">
            <span>
              <i class="ti ti-article"></i>
            </span>
            <span class="hide-menu">
              Catégories
                          
            </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{{ path('app_licencie_index') }}" aria-expanded="false">
            <span>
              <i class="ti ti-users"></i>
            </span>
            <span class="hide-menu">
              Licenciés
                          
            </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{{ path('app_contact_index') }}" aria-expanded="false">
            <span>
              <i class="ti ti-file-phone"></i>
            </span>
            <span class="hide-menu">
              Contacts
                          
            </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{{ path('app_educateur_index') }}" aria-expanded="false">
            <span>
              <i class="ti ti-users"></i>
            </span>
            <span class="hide-menu">
              Educateurs
                          
            </span>
          </a>
        </li>
      </ul>
    </nav>
  <!-- End Sidebar navigation -->
  </div>
<!-- End Sidebar scroll-->
</aside>
