{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<div class="card w-100">
    <div class="card-body p-4">
        <div class="d-flex justify-content-between">
            <h5 class="card-title fw-semibold mb-4">Contacts</h5>
            <a class="btn btn-primary m-1" href="{{ path('app_contact_new') }}">Ajouter</a>
        </div>
        <!-- Flash message section -->
        {# {% include './views/components/flashMsg.php' %} #}
        <!-- Records -->
        <div class="table-responsive">
            {% if contacts|length > 0 %}
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Nom</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Prénom</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Email</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Téléphone</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Licencié</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Actions</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">{{ contact.nom }}</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">{{ contact.prenom }}</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">{{ contact.email }}</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">{{ contact.telephone }}</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">{{ contact.licencie.nom }} {{ contact.licencie.prenom }}</h6>
                                </td>
                                <td class="border-bottom-0 d-flex">
                                    <a class="btn btn-dark m-1" href="{{ path('app_contact_show', {'id': contact.id}) }}">Voir</a>
                                    <a class="btn btn-warning m-1" href="{{ path('app_contact_edit', {'id': contact.id}) }}">Modifier</a>
                                    <a class="btn btn-danger m-1" href="{{ path('app_contact_delete', {'id': contact.id}) }}">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucun contact trouvé.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
