{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

   


     <div class="body-wrapper">
        <div class="container-fluid">
          <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
  <div class="card-body px-4 py-3">
    <div class="row align-items-center">
      <div class="col-9">
        <h4 class="fw-semibold mb-8">Contact</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="text-muted text-decoration-none" href="https://bootstrapdemos.adminmart.com/modernize/dist/main/index.html"
                >Home</a
              >
            </li>
            <li class="breadcrumb-item" aria-current="page">Contact</li>
          </ol>
        </nav>
      </div>
      <div class="col-3">
        <div class="text-center mb-n5">
          <img
            src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/images/breadcrumb/ChatBc.png"
            alt=""
            class="img-fluid mb-n4"
          />
        </div>
      </div>
    </div>
  </div>
</div>

          <div class="widget-content searchable-container list">
            <div class="card card-body">
              <div class="row">
                
      <form>
        <div class="form-group">
            <label for="categorieLabel">Catégorie</label>
            <select class="form-control" id="categorieLabel" name="categorie">
              {#  {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.nom_categorie }}</option>
                {% endfor %}
               #} 
            </select>
           
        </div>
        </form>
       
                <div
                  class="col-md-8 col-xl-9 text-end d-flex justify-content-md-end justify-content-center mt-3 mt-md-0">
                  
                  <a href="{{ path('app_contact_new') }}"  class="btn btn-info d-flex align-items-center">
                    Create new
                  </a>
                </div>
             
            </div>
            {# <div #}
            
            <div class="card card-body">
              <div class="table-responsive">
                <table class="table search-table align-middle text-nowrap">
                  <thead class="header-item">
                    
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                     
        {% for contact in contacts %}

        <tr class="search-items">
                      
                      <td>
                        
                          <span class="usr-id" >{{ contact.id }}</span>
         
                      </td>
                       <td> <span class="usr-name" >{{ contact.nom }}  </span> </td>

                       <td> <span class="usr-name" >{{ contact.prenom }}  </span> </td>
                      <td>
                        <td>  <span class="usr-email-addr" > {{ contact.email }} </td>
                      </td>
                      
                      <td>
                        <span class="usr-ph-no" >{{ contact.telephone }}</span>
                      </td>
                      <td>
                        <div class="action-btn">
                          <a href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
                          <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                        </div>
                      </td>
                    </tr>
            
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        
                    
                    
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
  
  


{% endblock %}



  
     


